a {
    color: inherit;
}

.aboutPageContainer{
  flex-direction:column;
  display: flex;
  justify-content: center;
  /*height: 100%;*/
  height: 180vh;
  width: 100%;
  position: relative;
  background-color: #F5F5F5;
}
.aboutContainer {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.menuContainer {
       display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: end;
    justify-self: center;
    position: fixed;
    height: 100%;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    width: 100%;

}
.menuButton {
  height: 50px;
  margin-right: 10%;
  margin-top: 5%;
}

.bm-burger-button {
 position: absolute;
 right: 8%;
 height: 50px;
 top:8%;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
 
 
/* General sidebar styles */
.bm-menu {
  background: #383030;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: white;
  text-align: center;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: white;
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  padding-top: 15%;
}
#menuNamn {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  background:#F6A623;
  width: 100%;
  padding:0;
  margin-top: 15%;

}

.aboutRubrik {
  text-align: center;
  font-size: 45px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.76;
  margin: 15vh  0 0 0;
}
.aboutUnderRubrik {
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.76;
  margin: 0.1% 0 0 0;
}
.infoWindow{
  width: 80%;
  height: 30%;
  min-height: 410px;
  background-color:#FFF793;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.textWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.textWindowRubrik {
  margin-top: 15%;
   font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  opacity: 0.76;
  letter-spacing: 0.67px;
}
.textWindowText {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin-top: -5%;
  font-size: 28px;
  opacity: 0.76;
}
.textWindowContactMe {
-ms-transform: rotate(-270deg); /* IE 9 */
-webkit-transform: rotate(-270deg); /* Chrome, Safari, Opera */
transform: rotate(-270deg);
font-family: 'Roboto Mono', monospace;
font-weight: 400;
text-decoration: underline;
font-size: 45px;
color: #000000;
opacity: 0.8;
letter-spacing: 0.67px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}

@media (max-width: 780px) {
  .infoWindow {  
    background-color: #FFF793;
    -ms-flex-item-align: center;
    margin-top: 3%;
    height: 78%;
    width: 95%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: column;
}
.invsible {
  display: none !important;
}
.textWindow {
    -ms-flex: 1 1;
    flex: 1 1;
    margin-top: 3%;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-direction: column;
    flex-direction: column;
    align-self: center;
}
.textWindowRubrik {
    margin-top: 15%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: center;
    font-size: 200%!important;
    padding: 0;
    margin: 0 !important;
    text-transform: uppercase;
    opacity: 0.76;
    letter-spacing: 0.67px;
    text-align: center!important;

}
.textWindowText {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    /* margin-top: -5%; */
    font-size: 120%!important;
    text-align: center;
    opacity: 0.76;
    text-align: center!important;
    margin: 0 !important;
}
}
